@model List<string>

<div id="codePartial">
    @if (Model.Count > 0)
    {
        <h5>Filecontent:</h5>
    }
    <code class="codeview">
        @foreach (string line in Model)
        {
            <text>@line</text>
        }
    </code>
</div>