<?xml version="1.0"?>
<!-- 
    Hinweis: Fügen Sie der Datei "App.config" Einträge für Konfigurations-
    einstellungen hinzu, die sich ausschließlich auf das Testprojekt beziehen.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
