<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoftwareForge.TfsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SoftwareForge.TfsService.Properties.Settings>
            <setting name="TeamFoundationPowerToolExecutable" serializeAs="String">
                <value>tfpt.exe</value>
            </setting>
        </SoftwareForge.TfsService.Properties.Settings>
    </applicationSettings>
</configuration>